<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="D:\Aya\VHM\Serilog\NLogWithFiles\internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="D:\Aya\VHM\Serilog\NLogWithFiles\${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="warn" writeTo="logfile" />
  </rules>
</nlog>